/* Styles for desktop */

/* Navigation */
nav {
  border: 1px solid red;
}

nav ul {
  color: lime;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  /* margin: 0; */
  /* padding: 0; */
  height: 100%;
}

nav ul li {
  padding: 0 1em;
}
