@media screen and (min-width: 2000px) {
  /* Styles for desktop */

  /* Navigation */
  nav {
    border: 1px solid red;
  }

  nav ul {
    color: lime;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul li {
    padding: 0 1em;
  }

  /* About */

  /* Header */

  /* Resume */

  /* Projects */

  /* Contact */

  /* Footer */
}
