/* Styles for desktop */
/* @media screen and (min-width: 1000px) { */
@media screen and (min-width: 2000px) {
  /* Navigation */

  nav ul {
    color: lime;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul li {
    padding: 0 1em;
  }

  /* Hero */
  .hero {
    /* Parallax scrolling effect */
    background-attachment: fixed;
  }

  /* About */

  /* Resume */

  /* Projects */

  /* Contact */

  /* Footer */

  /* Scrollbar */
}
