/* Applies to all screen sizes */

* {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  background: rgb(245, 245, 245);
}

/* Navigation */
nav {
  background-color: #232225;
  /* border: 1pt solid red; */
}

nav ul {
  list-style: none;
}

/* Hero */
.hero {
  color: white;
}

/* About */
.about {
  background-color: rgb(38, 38, 38);
  color: white;
}

/* Schedule */

table,
th,
td {
  border: 1px solid #4f4557;
}

/* Resume */

/* Projects */
.projects {
  background: #4f4557;
  padding: 2rem;
}
/* Contact */

/* Footer */

/* Other */
.boldText {
  font-weight: bold;
}
