/* Applies to all screen sizes */

* {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  background-color: #393646;
  color: rgb(255, 255, 255);
  margin: 0;
  height: 100%;
}

/* Navigation */
nav {
  background-color: #232225;
  /* border: 1pt solid red; */
}

nav ul {
  list-style: none;
}

/* Hero */

/* About */

/* Resume */

/* Projects */

/* Contact */

/* Footer */
