/* Styles for mobile */
/* @media screen and (max-width: 767px) { */
@media screen and (max-width: 2000px) {
  /* CSS styles for mobile devices */

  /* Navigation  */
  nav ul li {
    font-size: 1.5em;
    padding: 0.4em;
  }
  /* Hero */
  .hero {
    /* Image - adjust opacity to darken background image*/
    background: rgba(0, 0, 0, 0.2) url("../assets/images/background2.jpg");
    background-blend-mode: darken;

    /* Positioning */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    /* align .hero-text center verically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* text */
  .heroText {
    /* adjustments */
    padding: 1.5em;
    margin: 1em;

    /* style */
    text-align: center;
    border-radius: 3em;
    backdrop-filter: blur(0.6em);
  }

  /* About */
  .about {
    padding: 2rem 1rem;
    /* center image */
    text-align: center;
  }

  .about img {
    border-radius: 1rem;
    width: 10rem;
    /* center image */
    text-align: center;
  }
  .about div {
    text-align: left;
  }
  .about ul {
    list-style: none;
    padding-inline-start: 0;
  }

  .about li {
    padding: 0.4rem;
  }

  /* Schedule */
  .schedule {
    overflow-x: auto;
    text-align: center;
    padding: 1rem;
    background: rgb(245, 245, 245);
  }

  .schedule table {
    margin: auto;
  }

  .schedule table,
  .schedule th,
  .schedule td {
    /* border outline */
    border-collapse: collapse;
  }
  .schedule th,
  .schedule td {
    padding: 0.2rem 0.7rem;
    min-width: 3rem;
  }

  /* Resume */
  .resume h2 {
    text-align: center;
    color: black;
  }
  .resume {
    color: #444;
  }
  .resume li {
    margin: 0.5rem 0;
  }
  .resume h4 {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
  }
  .resume hr {
    border: 0.1rem solid #c0c0c0;
    max-width: 90%;
  }
  .grid-education {
    text-align: center;
    padding: 1rem;
  }
  .grid-skills {
    padding: 1rem;
  }
  .grid-skills ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
  }
  .grid-skills ul li {
    padding: 0.5rem;
  }
  .grid-skills ul li > p {
    margin: 0 0 0.3rem 0;
  }
  .grid-experience {
    padding: 1rem;
    text-align: center;
    color: #444;
  }
  .grid-experience ul {
    padding-left: 0;
    list-style: none;
  }
  /* Projects */
  .projects {
    text-align: center;
    color: rgb(245, 245, 245);
    padding: 1rem;
  }
  .projects h2 {
    margin: 0;
    padding: 1rem;
  }
  .projects div {
    background: rgb(136, 136, 136);
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
  }
  .projects h3 a {
    text-decoration: none;
  }
  .projects img {
    height: 100%;
    width: 100%;
  }
  .projects button {
    border: none;
    border-radius: 2rem;
    background: none;
    color: #b9eddd;
  }
  .projects button:hover {
    cursor: pointer;
  }

  /* Contact */

  /* Footer */
  .footer {
    text-align: center;
    color: rgb(245, 245, 245);
    background: rgb(38, 38, 38);
    padding: 2rem;
  }

  /* React Icons */
  .reactIcons {
    padding: 0 0.7em;
    /* Adjust the size of the icons */
    font-size: 1.5rem;
  }

  /* Buttons */
  .btn {
    /* style */
    cursor: pointer;
    background: none;

    /* structure */
    border: 0.1rem solid white;
    border-radius: 1rem;
    padding: 0.4rem 1rem;
    margin: 0.5rem;
    color: white;
  }

  .btn:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  .btn:active {
    position: relative;
    top: 1px;
    box-shadow: 2px 2px 2px rgb(38, 38, 38);
  }
}
